{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Form -->
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id="appointmetForm">
                <h1>Appointment Form</h1>
                <p>Book a appointment with us and enjoy the Gentlemans-Cutz experience</p>
            </div>
            <hr class="my-5">
            <form action="{% url 'appointments' %}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                    <div class="col-md-6 pb-3 pt-5">
                        <button type="submit" name="submit" class="btn btn-block" id="submit-form">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock %}