{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id="appointmetForm">
                <h1>Appointment Form</h1>
                <p>Please complete the form to amend your appointment</p>
            </div>
            <hr class="my-5">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div class="form-row mt-4">
                    <div class="col-md-6 pb-3 pt-5">
                        <button type="submit" name="edit" class="btn btn-block" id="edit-form">Edit Appointment</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{%endblock%}